body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.div-buttons{
	margin-top : 15px;
	margin_bottom : 15px;
	margin-left : 5px;
	margin-right : 5px;
}

.statusMsg{
	margin-top : 20px;
	color : red;
	font-size :20px;
	font-style: italic;
}


button{
	height : 50px;
	width : 50px;
	margin : 5px;
}

input[type=text]{
	width : 100%;
	height : 50px;
	padding : 10px;
	border : none;
	border-bottom: solid 2px #969696;;
	font-size : 30px;
}

#equal{
	height : 50px;
	width : 245px;
	margin : 5px;
}
