<link rel="stylesheet" href="/stylesheets/userPageStyle.css">


<div class="row">
	<div class="col-md-3" style="float: none; margin: 0 auto;">
		<div style="margin: 0 auto; text-align:center;">
			<img class="logo" src="/images/ebay_logo.png" />
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-3" style="float: none; margin: 0 auto;" id="outline">
		<ui class="nav nav-tabs container-fullwidth">
		<div class="row" id="inneroutline">
			<div class="col-md-6 col-md-offset-3 buttonDiv" style="text-align: center">
				Update Your Location			
			</div>
		</div>
		</ui>
		<div class="tab-content">
			<form id="signinForm">
				<div id="signinOutside">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Location"
							required="required" ng-model="user.location"/>
					</div>
					<div ng-show="displayLocationSuccess" style="text-align: center">
						<label style="color: #33cc33;">{{message}}</label>
					</div>
					<div ng-show="displayLocationError" style="text-align: center">
						<label style="color: #ff0000;">{{message}}</label>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" style="width: 100%" ng-click="updateLocation(user)">Save</button>
					</div>
				</div>
		</form>
		</div>
	</div>
</div>

